/* Tulisan Scrool Down */
.hero__scroll {
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #0dcaf0;
  }